PORT = 4000
ALLOWED_ORIGINS = http://localhost:5173
ACCESS_TOKEN_SECRET = super_secret_access_key
REFRESH_TOKEN_SECRET = super_secret_refresh_key
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_EXPIRY = 7d
DATABASE_URI = mongodb://127.0.0.1:27017/chat_app
PUBLIC_VAPID_KEYS = BJ2HpudGprQ6YMSiuf8sYKRM4-JGAIoagoXWhWLZyvD9FuN_TZEvkDf4uuLHT1z_CrHHiHIiEB2d7CS3Blx6YlQ
PRIVATE_VAPID_KEYS = t_h9T16ClfCgM6tR1J0nJt7FIU2ELiKsIfeAPvot0c4
VAPID_EMAIL = test@example.com
FRONTEND_URL = http://localhost:5173